table td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  color: white;
}
table th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 1rem;
}
.poista {
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}
#uusiAsiakas, #takaisin{
	color: white;	
	cursor: pointer;	
}